// Esquema de colores

// Primer esquema de color
$white: #fff;
$black: #000;
$dark-grey: #221D23;
$blue: #2AB7CA;

// Tipografia
$raleway: 'Raleway', sans-serif;

// Peso de fuente
$extra-light: 200;
$regular: 400;
$bold: 700;

// Tamaño de fuente
$xx-large: 100px;
$x-large: 70px;
$large: 50px;
$medium: 18px;
